<link rel="stylesheet" href="../css/footer.css">
<link rel="stylesheet" href="../css/global.css">

<Footer>
    <div class="container footer-content">
        <div>
            <h1 class="logo">my portfolio</h1>
            <p class="rights">@ all right reserved by nitin sharma</p>
        </div>

        <div class="footer-links">
            <div>
                <h1>Social Links</h1>
                <ul>
                    <li><a href="https://www.instagram.com/im_nitin22/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/nitin-sharma2218/" target="_blank">LinkedIn</a></li>
                    <li><a href="https://github.com/nitinsharma1845" target="_blank">GitHub</a></li>
                </ul>
            </div>
            <div>
                <h1>Quick Links</h1>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../project.html">Projects</a></li>
                    <li><a href="../about.html">Contact</a></li>
                </ul>
            </div>

            <div>
                <h1>Contact Details</h1>
                <ul>
                    <li>+91 9389623526</li>
                    <li>wd.nitin.sharma01@gmail.com</li>
                </ul>
            </div>
        </div>

    </div>
</Footer>