<link rel="stylesheet" href="../css/header.css">
<link rel="stylesheet" href="../css/global.css">

<header class="header">
    <nav class="nav-bar container">
        <ul class="nav-items">
            <a href="../index.html" class="logo">My Portfolio</a>
            <div class="nav-links">
                <li><a href="../index.html" class="nav-item home">HOME</a></li>
                <li><a href="../project.html" class="nav-item projects">PROJECTS</a></li>
                <li><a href="../about.html" class="nav-item about">CONTACT ME</a></li>
            </div>
        </ul>
    </nav>
</header>